[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2.27"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"

[requires]
python_version = "3.7"
